              
              <%# Block of ##{field_name} %>
              <div class="row">
                <div class="col-sm-10">
                  <div class="form-group">
                    <%= f.label :##{field_name}, class: "col-sm-2 control-label" %>
                    <div class="col-sm-8 ">
                      <%= f.select(:##{field_name}, ##{table.camelize}.##{field_name}s.keys.map {|##{field_name}| [##{field_name}.titleize,##{field_name}]}, { class: 'form-control s-m' }) %>
                    </div>
                  </div>
                </div>
              </div>
              