<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <%= form_for(@##{table.downcase}, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
      <% if @##{table.downcase}.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@##{table.downcase}.errors.count, t('Error')) %> <%= t('##{table.camelize}ProhibitedSaved') %></h2>

          <ul>
          <% @##{table.downcase}.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <table width="100%">
              <td><h2><%= t('##{table.camelize}') %></h2></td>
              <td align="right">
                <% if is_show %>
                  <%= link_to t('Edit'), edit_##{table.downcase}_path(@##{table.downcase}), :class => 'btn btn-primary btn-xs' %>
                <% else %>
                  <%= submit_tag t('Save'), :class => 'btn btn-primary btn-xs' %>
                <% end %>
                <% if params[:parent_controller].present? %>
                  <a><%= link_to t('Exit'), { controller: params[:parent_controller], action: params[:parent_action], id: params[:parent_id].to_i }, class: 'btn btn-white btn-xs' %></a>
                <% else %>
                  <a><%= link_to t('Exit'), { controller: params[:controller], action: 'index' }, class: 'btn btn-white btn-xs' %></a>
                <% end %>
              </td>
            </table>
          </div>

          <%= hidden_field_tag :parent_controller, params[:parent_controller] if params[:parent_controller].present? %>
          <%= hidden_field_tag :parent_action, params[:parent_action] if params[:parent_action].present? %>
          <%= hidden_field_tag :parent_id, params[:parent_id] if params[:parent_id].present? %>

          <div class="ibox-content">
            ##{field_list}
          
          </div>
          <% if !params[:action] = 'new' %>
            ##{render_index_list}
          <% end %>

        </div>
      </div>

    <% end %>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      ##{datapicker_list}
      ##{summernote_list}
      ##{dual_select}
    });
    
  </script>
<% end %> 