{
  "project"   : "beta_project",
  "model"     : "default",  
  "table"     : "post",
  "plural"    : "posts",
  "policy"    : "admin,manager",
  "output"    : "project",
  "children"  : "pergunta",
  "fields"    :    
  [
    { "name":"name",      "type":"string", "search":"y" } ,
    { "name":"content",   "type":"blob" },
    { "name":"tags",      "type":"string", "search":"y" },
    { "name":"start_show","type":"date" },
    { "name":"end_show",  "type":"datetime" },
    { "name":"xpto_id",   "type":"hidden", "value":"@xpto.id" }
  ]
}